
.main-body{
    width: 100%;
    /* overflow: hidden; */
}
.card{
    width: 100%;

}
.main-gage-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-gage-wraper h1{
    font-weight: 800;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-gage-wraper span{
    font-size: 20px;
}
.gage-icon{
    font-size: 40px;
    opacity: 0.8;
}

.title-header{
  background-color: rgb(211, 55, 107);
}
.message-box{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}