
.expense-wraper{
    /* display: flex;
    justify-content: space-between; */
}

.expense-table{
    flex: 1;
}

.expense-form-wraper{
    height:100vh;
    width:100%;
    background-color: #4444;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.expense-form{
    width: 40%;
    background-color: #fff;
    position: relative;
}

.formheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn{
    font-size: 25px;
    cursor: pointer;
}

.processing{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.not-processing{
    display:none;
}