

nav{
    height: 8vh;
    background-color: rgb(53, 53, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wraper{
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


