

nav{
    height: 8vh;
    background-color: rgb(67, 67, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wraper{
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


