

.message-wraper{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    background-color: #4444;
}

.message-box{
    padding: 100px;
    background-color: #fff;
}