

.student-header{
    display: flex;
    justify-content: space-between;
}

.profile-wraper{
    display: flex;
    justify-content: space-between;
}
.profile-info{
    flex-basis: 30%;
}
.result-info{
    flex-basis: 70%;

}
.profileImg{
    height:250px;
    width:100%;
}

.invoice-form{
    padding-top: 50px;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: rgba(0,0,0,.1); */
    position: absolute;
    top:0;
    left: 0;
}

.invoice-center{
    /* padding: 35px; */
    width: 40%; 
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.5);
}