
body{
  background-color: rgb(255, 255, 255);
}
.App {
  display: flex;
  justify-content: space-between;
}
aside{
  height: 100vh;
  flex-basis: 15%;
  background-color: blueviolet;
}
section{
  flex: 1;
}
main{
  margin: 20px;
  /* padding: 15px; */
  flex: 1;
  position: relative;
  /* background-color: #333; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
